* {
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    height: 100%;
    width: 100%;
}

:root{
    --main-bg-color: rgb(0, 0, 0);
    --main-text-color: rgb(255, 255, 255);
    --secondary-text-color:rgb(0, 248, 145);
    --scrollbar-thumb-color: #1c1c1c;
    --project-card-width: 40rem;
    --project-card-height: 30rem;
    --project-card-width-r: 30rem;
    --project-card-height-r: 50rem;
}

body{
    min-height: 100%;
    min-width: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
}

/*------------------------Classes-------------------------*/

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-click {
    pointer-events: none;
 }

 .no-select {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

/*------------------------ScrollBar-------------------------*/

/*remove scrollbar*/
.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

/*remove scrollbar*/
.container::-webkit-scrollbar { 
    display: normal;  /* Safari and Chrome */
}

/* width */
.container::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
  
/* Track */
.container::-webkit-scrollbar-track {
    background-color: transparent;
}
  
/* Handle */
.container::-webkit-scrollbar-thumb{
    background: var(--scrollbar-thumb-color);
    border-radius:5px;
}

/*------------------------Profile-------------------------*/
#intro{
    position:relative;
}

#intro-content{
    gap: 2rem;
    min-width: 21rem;
    min-height: 100%;
    visibility: 100%;
}


#intro-content-text{
    flex-direction: column;
    width: 20rem;
}

#intro-content-text h1{
   font-size: 5rem;
   white-space:nowrap;
}

#intro-content-text p{
    font-size: 3rem;
    text-align: center;

}

#profile-pic{
    height: 20rem;
    width: 20rem;
    background-color: var(--main-text-color);
    border-radius:50%;
}

#profile-pic img{
    height: 19rem;
    width: 19rem;
    border-radius: 50%;
    object-fit: cover;
}

#arrow-director{
    position:absolute;
    left: 50%;
    bottom: 1rem;
}

/*------------------------Projects-------------------------*/

#projects {
    position: relative;
    /* doing height: 100% only seems to make it the size of the view port
    even if the body exceeds the size of the view port */
    min-height: 100%;
    /*setting the min-width to 100% makes the projects overflow into the left ofthe screen*/
    /*despite having min-width of 37, it's still the lenght of the viewport?*/
    min-width: calc( var(--project-card-width-r) );
    background-color: var(--main-bg-color);
}

#project-container{
    margin: 5rem 0;
    padding: 0 calc( (100vw - var(--project-card-width)) / 2);
    min-height: var(--project-card-height-r);
    min-width: var(--project-card-width-r);
    gap: calc( (100vw - var(--project-card-width)) / 2);
    overflow-x: hidden;
    justify-content: flex-start;
    scroll-behavior: smooth;
    z-index: 1;
}

.project-item{
    position: relative;
    flex: 1 0 auto;
    width: var(--project-card-width);
    height: var(--project-card-height);
    border-radius: 5rem;
    background-color: var(--main-bg-color);
    z-index: 4;
}

.project-item:hover{
    cursor: pointer;
}

.project-item-image{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: calc(var(--project-card-width) - 1rem);
    height: calc(var(--project-card-height) - 1rem);
    border-radius: 5rem;
    background-color:var(--main-text-color);
    z-index: 2;
}

.project-item-image img{
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    border-radius: 5rem;
    object-fit: cover;
}

.project-item-text{
    position: absolute;
    right: 0px;
    top: 0px;
    width: calc(var(--project-card-width) - 1rem);
    height: calc(var(--project-card-height) - 1rem);
    padding: 3rem;
    border-radius: 5rem;
    border: 0.5rem solid;
    border-color: var(--main-text-color);
    background-color:var(--main-bg-color);
    z-index: 3;

    font-size: 3rem;
}

.project-item-text h1{
    font-size: 4rem;
}

.project-item-links{
    position:absolute;
    width: 100%;
    height: 10rem;
    left: 0rem;
    bottom: 0rem;
    gap:2rem;
    padding: 3rem;
}

.project-item-links a{
    color: var(--main-text-color);
    text-decoration:none;
    font-size: 3rem;
    transition: 0.5s;
}

.project-item-links a:hover{
    color: var(--secondary-text-color);
    transform: scale(1.2);
}


/*------------------------Intro Arrow-------------------------*/

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg);
    }
    40% {
      -moz-transform: translateY(-30px) rotate(45deg); 
      transform: translateY(-30px) rotate(45deg);
    }
    60% {
      -moz-transform: translateY(-15px) rotate(45deg);
      transform: translateY(-15px) rotate(45deg);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg);
    }
    40% {
      -webkit-transform: translateY(-30px) rotate(45deg);
      transform: translateY(-30px) rotate(45deg);
    }
    60% {
      -webkit-transform: translateY(-15px) rotate(45deg);
      transform: translateY(-15px) rotate(45deg);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
      -webkit-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg);
    }
    40% {
      -moz-transform: translateY(-30px) rotate(45deg);
      -ms-transform: translateY(-30px) rotate(45deg);
      -webkit-transform: translateY(-30px) rotate(45deg);
      transform: translateY(-30px) rotate(45deg);
    }
    60% {
      -moz-transform: translateY(-15px) rotate(45deg);
      -ms-transform: translateY(-15px) rotate(45deg);
      -webkit-transform: translateY(-15px) rotate(45deg);
      transform: translateY(-15px) rotate(45deg);
    }
}
  
.arrow {
    position: fixed;
    bottom: 50px;
    left: 50%;
    margin-left: -5px;
    border: solid var(--main-text-color);
    border-width: 0 3px 3px 0;
    padding: 3px;
    z-index: 3;
    transition: 1s;
}
  
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
  
.fade {
    opacity:0;
    transition: 1s all ease-out;
}

/*------------------------Project Arrow-------------------------*/


.arrow-right {
    position: absolute;
    right: 3rem; 
    padding: 3rem;
    border: solid var(--main-text-color);
    border-width: 0 3px 3px 0;
    transform: rotate(-45deg);
}

.arrow-left {
    position: absolute;
    left: 3rem; 
    padding: 3rem;
    border: solid var(--main-text-color);
    border-width: 0 3px 3px 0;
    transform: rotate(135deg);
}

/*------------------------Project Card Animation TODO-------------------------*/

/* PUT MEDIA QUERIES AT THE BOTTOM */
/*need to change width of project container */
@media only screen and (max-width: 600px){
    #intro-content{
        flex-direction: column-reverse;
    }
    #project-container{
        flex-direction:column;
        padding: calc( (100vh - var(--project-card-height-r)) / 2) 0rem;

        width: var(--project-card-width-r);
        gap: calc( (100vh - var(--project-card-width-r)) / 2);
    }
    /*have to specify project-cotnainer for some reason*/ 
    .project-item{
        width: var(--project-card-width-r);
        height: var(--project-card-height-r);
    }
    .project-item-image{
        width: calc(var(--project-card-width-r) - 1rem);
        height: calc(var(--project-card-height-r) - 1rem);
    }
    .project-item-text{
        width: calc(var(--project-card-width-r) - 1rem);
        height: calc(var(--project-card-height-r) - 1rem);
    }
    #project-nav-arrows{
        display:none;
    }
}



