* {
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-bg-color: black;
    --main-text-color: white;
}

html{
    font-size: 10px;
    background-color: var(--main-bg-color);
}

body{
    min-height: 100%;
    min-width: 100%;
}

@media only screen and (max-width: 500px){
    #intro-content{
        flex-direction: column-reverse;
    }
}

/*------------------------Classes-------------------------*/

/*remove scrollbar*/
.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

/*remove scrollbar*/
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------------------IDs-------------------------*/

#intro-content{
    gap: max(2vw, 2rem);
    min-width: max(25rem, 100%);
    min-height: 100%;
    margin-top: auto 0;
}

#intro-content-text{
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-text-color);
    margin-left: 0 auto;
}

#intro-content-text h1{
   font-size: max(5vw, 5rem);
   white-space:nowrap;
}

#intro-content-text span{
    font-size: max(3vw, 3rem); 
}

#profile-pic {
    height: max(20rem, 20vw);
    width: max(20rem, 20vw);
    background-color: var(--main-text-color);
    border-radius: 9999px;
    overflow: hidden;
}

#profile-pic img{
    height: 100%;
    margin: 0 auto;
}

#projects {
    height: 100%;
}