@keyframes fade-in {
	from {opacity: 0%;}
	to {opacity: 100%;}
}

body{
	margin: 0;
}

#s-bar{
	display:flex;
	align-items: center;
	justify-content:center;
	flex-wrap: wrap;
}


#nc{
	display:grid;
	grid-gap: 4px;
	justify-content: center;
	justify-items: center;
	align-content: center;;
	align-items: center;
}

.cell {
	color: black;
	border-style: solid;
	user-select:none;
	transition: 0.5s;
	width: 35px;
	height: 35px;
}

.s-bar-item{
	color: black;
	margin: 15px;
	padding: 15px;
}